<html>
	<head>
		<title>KidTracker</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='https://code.jquery.com/jquery-2.1.3.min.js' ></script>
		<script src='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js' ></script>
		<link rel='stylesheet' href='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css' ></script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>
